.Field-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease;

}

.Field-container>*:not(img) {
  transition: all 0.5s ease;

  margin-bottom: 30px !important;
}
.gradient-container {
  height: 5vh;

}

h1{
  color: #002567;
}

.gradient-container>div { 
  height: 100%;
  float: left;
}

.show-code {
  display: flex;
  align-items: baseline;
}

.show-code>div:first-child {
  margin-right: 10px;
}